In [6]:
import pandas as pd

In [2]:
data_file = pd.read_csv('Churn_Modelling.csv', engine = 'python')
print(data_file)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [3]:
data = data_file.drop(['RowNumber','CustomerId','Surname'],axis=1) 
print(data)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary  Exited
0             1               1        101348.88       1
1             0               1        112542.58       0
2             1               0        113931.57       1
3             0               0         93826.63       0
4             1               1         79084.10       0
...         ...             ...              ...     ...
9995          1               0         96270.64       0
9996          1               1        101699.77       0
9997          0               1         42085.58       1
9998          1               0         92888.52       1
9999          1               0         38190.78       0

[10000 rows x 11 columns]

In [4]:
num_data = pd.get_dummies(data, columns = ['Geography','Gender'])
print(num_data)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619   42       2       0.00              1          1
1             608   41       1   83807.86              1          0
2             502   42       8  159660.80              3          1
3             699   39       1       0.00              2          0
4             850   43       2  125510.82              1          1
...           ...  ...     ...        ...            ...        ...
9995          771   39       5       0.00              2          1
9996          516   35      10   57369.61              1          1
9997          709   36       7       0.00              1          0
9998          772   42       3   75075.31              2          1
9999          792   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited  Geography_France  \
0                  1        101348.88       1                 1
1                  1        112542.58       0                 0
2                  0        113931.57       1                 1
3                  0         93826.63       0                 1
4                  1         79084.10       0                 0
...              ...              ...     ...               ...
9995               0         96270.64       0                 1
9996               1        101699.77       0                 1
9997               1         42085.58       1                 1
9998               0         92888.52       1                 0
9999               0         38190.78       0                 1

      Geography_Germany  Geography_Spain  Gender_Female  Gender_Male
0                     0                0              1            0
1                     0                1              1            0
2                     0                0              1            0
3                     0                0              1            0
4                     0                1              1            0
...                 ...              ...            ...          ...
9995                  0                0              0            1
9996                  0                0              0            1
9997                  0                0              1            0
9998                  1                0              0            1
9999                  0                0              1            0

[10000 rows x 14 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
num_data[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']] = scaler.fit_transform(num_data[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']])

In [6]:
print(num_data)

      CreditScore       Age    Tenure   Balance  NumOfProducts  HasCrCard  \
0       -0.326221  0.293517 -1.041760 -1.225848      -0.911583          1
1       -0.440036  0.198164 -1.387538  0.117350      -0.911583          0
2       -1.536794  0.293517  1.032908  1.333053       2.527057          1
3        0.501521  0.007457 -1.387538 -1.225848       0.807737          0
4        2.063884  0.388871 -1.041760  0.785728      -0.911583          1
...           ...       ...       ...       ...            ...        ...
9995     1.246488  0.007457 -0.004426 -1.225848       0.807737          1
9996    -1.391939 -0.373958  1.724464 -0.306379      -0.911583          1
9997     0.604988 -0.278604  0.687130 -1.225848      -0.911583          0
9998     1.256835  0.293517 -0.695982 -0.022608       0.807737          1
9999     1.463771 -1.041433 -0.350204  0.859965      -0.911583          1

      IsActiveMember  EstimatedSalary  Exited  Geography_France  \
0                  1         0.021886       1                 1
1                  1         0.216534       0                 0
2                  0         0.240687       1                 1
3                  0        -0.108918       0                 1
4                  1        -0.365276       0                 0
...              ...              ...     ...               ...
9995               0        -0.066419       0                 1
9996               1         0.027988       0                 1
9997               1        -1.008643       1                 1
9998               0        -0.125231       1                 0
9999               0        -1.076370       0                 1

      Geography_Germany  Geography_Spain  Gender_Female  Gender_Male
0                     0                0              1            0
1                     0                1              1            0
2                     0                0              1            0
3                     0                0              1            0
4                     0                1              1            0
...                 ...              ...            ...          ...
9995                  0                0              0            1
9996                  0                0              0            1
9997                  0                0              1            0
9998                  1                0              0            1
9999                  0                0              1            0

[10000 rows x 14 columns]

In [7]:
X = num_data.drop('Exited', axis=1)
y = num_data['Exited']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
X_train.head(), y_train.head()

(      CreditScore       Age    Tenure   Balance  NumOfProducts  HasCrCard  \
 9254     0.367013 -0.660018  0.341352 -1.225848       0.807737          1
 1561    -0.191713  0.293517 -0.350204  0.691389       0.807737          1
 1670    -0.947028 -1.422847 -0.695982  0.613102      -0.911583          1
 6087    -0.926334 -1.136786  1.378686  0.948021      -0.911583          1
 6669    -1.381593  1.628468  1.378686  1.052363      -0.911583          0

       IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
 9254               1         1.373784                 1                  0
 1561               1         1.667407                 0                  1
 1670               0        -0.246910                 0                  0
 6087               0         0.921446                 1                  0
 6669               0        -1.053812                 1                  0

       Geography_Spain  Gender_Female  Gender_Male
 9254                0              0            1
 1561                0              0            1
 1670                1              0            1
 6087                0              1            0
 6669                0              0            1  ,
 9254    0
 1561    0
 1670    1
 6087    1
 6669    1
 Name: Exited, dtype: int64)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
# Train Logistic Regression model
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

# Predict on test set
y_pred_log_reg = log_reg.predict(X_test)

# Evaluate
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_log_reg))
print("Logistic Regression Classification Report:\n", classification_report(y_test, y_pred_log_reg))

Logistic Regression Accuracy: 0.811
Logistic Regression Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.96      0.89      1607
           1       0.55      0.20      0.29       393

    accuracy                           0.81      2000
   macro avg       0.69      0.58      0.59      2000
weighted avg       0.78      0.81      0.77      2000